@page "/Details/{Id:int}"
@attribute [Authorize]


@inject JSONPlaceholderApiProxyService Api
@inject Store Store
@inject JsFunctionService Js

<h3>Dettaglio post</h3>
<hr />

@if (Post != null)
{
    <h1>@Post.Title</h1>

    <p>@Post.Body</p>

    @if (Comments != null && Comments.Any())
    {
        <div style="padding-left:50px; margin-top: 50px;">
            <strong>Commenti:</strong>

            @foreach (var c in Comments)
            {
                <hr />
                <p class="clearfix">
                    <img src="@c.GravatarUrl" class="float-left mr-3" />
                    <strong>@c.Name:</strong> @c.Body
                </p>
            }
        </div>
    }
}
else
{
    <p>post non trovato</p>
}

<Loading Visible="Loading" />


@code {

    [Parameter] public int Id { get; set; }

    private bool Loading { get; set; }
    private PostViewModel Post { get; set; }
    private IEnumerable<CommentViewModel> Comments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // recupero li post dallo store, così mi evito di chiamare l'API
        //
        Post = Store.Posts.FirstOrDefault(p => p.Id == Id);

        var comments = await Api.GetPostComments(Id);

        var temp = new List<CommentViewModel>();
        foreach (var comment in comments)
        {
            temp.Add(new CommentViewModel(comment, await Js.GetGravatarUrl(comment.Email)));
        }

        Comments = temp;

        Loading = false;
    }

}
