@page "/Details/{Id:int}"
@attribute [Authorize]

<h3>Dettaglio post</h3>
<hr />

@if (Post != null)
{
    <h1>@Post.Title</h1>

    <p>@Post.Body</p>

    @if (Comments != null && Comments.Any())
    {
        <div class="pl-2 mt-2">
            <strong>Commenti:</strong>

            @foreach (var c in Comments)
            {
                <hr />
                <p class="clearfix">
                    <img src="@c.GravatarUrl" class="float-left mr-3" />
                    <strong>@c.Name:</strong> @c.Body
                </p>
            }
        </div>
    }
}
else
{
    <p>post non trovato</p>
}

<Loading Visible="Loading" />
